$bg_light: #FFFCFB;
$grey_500: #373737; /*titles*/
$grey_400: #696969;
$grey_300: #959595;
$color_200: #E36365;
$color_300: #DA2F32;
$color_400: #A81E21; /*primary*/
$color_500: #791517;
$color_600: #450C0D;